@import 'tailwindcss';
@import 'pretendard/dist/web/static/pretendard.css';
@import './tokens/primitive.css';
@import './tokens/semantic.css';
@import './typography.css';

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
