@import 'tailwindcss';
@import 'pretendard/dist/web/static/pretendard-dynamic-subset.css';
@import '@fontsource/aldrich';
@import './tokens/primitive.css';
@import './tokens/semantic.css';
@import './tokens/theme.css';
@import './tokens/typography.css';

/* Custom Loader */
.loader {
  width: 40px;
  aspect-ratio: 1;
  --c: no-repeat
    linear-gradient(currentColor calc(50% - 10px), #0000 0 calc(50% + 10px), currentColor 0);
  background:
    var(--c) 0% 100%,
    var(--c) 50% 100%,
    var(--c) 100% 100%;
  background-size: 19% calc(200% + 20px);
  animation: l4 1s infinite linear;
}

@keyframes l4 {
  33% {
    background-position:
      0% 50%,
      50% 100%,
      100% 100%;
  }
  50% {
    background-position:
      0% 0%,
      50% 50%,
      100% 100%;
  }
  66% {
    background-position:
      0% 0%,
      50% 0%,
      100% 50%;
  }
  100% {
    background-position:
      0% 0%,
      50% 0%,
      100% 0%;
  }
}

/* iOS Safari input focus auto-zoom prevention (16px + scale + layout compensation) */
input,
select,
textarea {
  font-size: 16px !important;
  width: 114.3% !important;
  transform: scale(0.875);
  transform-origin: left top;
  margin-right: -14.3% !important;
}
